body {
    margin: 0;
    font-family: Arial, sans-serif;
    background: #111;
    color: white;
}

header {
    display: flex;
    justify-content: space-between;
    padding: 20px;
    background: #220000;
    position: sticky;
    top: 0;
}

.logo {
    font-size: 28px;
    font-weight: bold;
}
.logo span {
    color: #4db8ff; /* sky blue */
}

nav a {
    margin-left: 20px;
    text-decoration: none;
    color: #4db8ff;
}

.hero {
    text-align: center;
    padding: 120px 20px;
    background: linear-gradient(to bottom, #220000, #111);
}

.hero h1 {
    font-size: 48px;
    color: #ff4d4d; /* dark red highlight */
}

.btn {
    padding: 12px 30px;
    background: #4db8ff;
    color: #000;
    border-radius: 6px;
    text-decoration: none;
}

.services {
    padding: 80px 20px;
}

.cards {
    display: flex;
    justify-content: center;
    gap: 20px;
    flex-wrap: wrap;
}

.card {
    background: #1a1a1a;
    border: 2px solid #4db8ff;
    padding: 20px;
    width: 260px;
    border-radius: 10px;
}

.about, .contact {
    padding: 80px 20px;
}

form input, form textarea {
    width: 100%;
    padding: 12px;
    margin-bottom: 10px;
    border: none;
    border-radius: 5px;
}

form button {
    background: #ff4d4d;
    padding: 12px;
    border: none;
    border-radius: 5px;
    width: 100%;
    cursor: pointer;
}

footer {
    text-align: center;
    padding: 20px;
    background: #220000;
}
